---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---


<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Shakti Singh</div>
    <div class="text-3xl py-3 font-bold">Security Student and data analyst</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a security student in my pre-final year in Vellore Institute of Technology. My interests lies in data analysis and java development, I'm also focusing on deepening my understanding of Machine learning, Cloud technology and advance algorithms
      </text>
    </div>
    <div class="mt-8">
      <a href="#" target="_blank" class="btn btn-outline ml-5">
        Links
      </a>
    </div>
  </div>

  

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
